.headerNav{ background: #E3E6F3;
    color:#1a1a1a;
    font-size: 25px;
    font-family: "Brush Script MT", cursive;}

body{
    width:100%;
}

.navParent{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 25;
    width: 100%;

}

.headerNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0.5px 10px rgba(0,0,0,0.6);
}
a{
    color:#088178;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    font-family: "Brush Script MT", cursive;

}
#navbar li a{
    text-decoration: none;
    font-size: 25px;
    font-weight:600;
    color: #1a1a1a;
    transition: 0.3s ease;
}


#navbar li a:hover,
#contactNav div #navbar li a#contactLink,
#homeNav div #navbar li .homeLink,
#storyNav div #navbar li a#storyLink,
#cartNav div #navbar li a#cartLink,
#shopNav div #navbar li a#shopLink,
#blogNav div #navbar li a#blogLink

{
    color: #088178
}


#navbar li a:hover::after,
#homeNav div #navbar li a.homeLink::after,
#contactNav div #navbar li a#contactLink::after,
#storyNav div #navbar li a#storyLink::after,
#cartNav div #navbar li a#cartLink::after,
#shopNav div #navbar li a#shopLink::after,
#blogNav div #navbar li a#blogLink::after


{
    content:"";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.logo {
    height: 2em;
    margin-left: 0.5rem;
  }