.fe-box img{
    width: 100px;
    height:133x

}
.text-1{
    text-align: center;
}
.section-p1{
    padding: 40px 80px;
}
.fe-box{
    width: 180px;
    height:250px;
    text-align: center;
    padding: 25px 15px;
    /* font-family: "Brush Script MT", cursive; */
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 6px;
    margin: 15px 0;

}
.fe-box h6{
    display: inline-block;
    font-size: 15px;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:#E3E6F3;
    background-color: #088178;
}
.fe-box:hover{
    box-shadow: 10px 10px 54px rgba(193, 27, 27, 0.1);
    background-color: #088178;
    transition: 0.3s ease;

}
.fe-box img{
    width:100%;
    height:150px;
    margin-bottom: 10px;}